*.csv
*.pdf
*.xml
*.jpg
*.sav
*.bbl
*.log
*.toc
*.xls
*.xlsx
*.txt
*.png
*.pickle
best_param*
/.ipynb_checkpoints
/__pycache__
/CHIRPS/__pycache__
/forest_surveyor/__pycache__
accepted_2007_to_2018Q2.csv.gz
lending.csv.gz
