*.csv
*.pdf
*.xml
*.jpg
*.sav
*.bbl
*.log
*.toc
*.xls
*.xlsx
*.txt
*.png
/.ipynb_checkpoints
/CHIRPS/__pycache__
accepted_2007_to_2018Q2.csv.gz
lending.csv.gz

~/whiteboxing/adult_small_samp/

*.json

*.pyc

paper/result
/defragTrees/

__pycache__
/defragTrees/
paper


/defragTrees/example
/defragTrees/*.md
/defragTrees/*.txt